@import "../css/colors.css";

.container {
    background: var(--secondary-background-color);
    height: 100vh;
    display: flex;
    align-items: center;
}

.loginBg {
    background: var(--background-color);
    padding: 30px;
    height: max-content;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 10px var(--primary-color);
    border-radius: 10px;
}

.formField input {
    width: 360px;
}
    
h2 {
    font-size: 60px;
}

form {
    width: 100%;
}

form button {
    width: 150px;
    height: 75px;
    margin: 30px 125px 0 125px;
    font-size: 28px;
}

