@import "../css/colors.css";
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Lalezar", system-ui;
    background-color: var(--secondary-background-color);
    color: var(--text-primary-color);
}

.container {
    background-color: var(--background-color);
    width: 1200px;
    margin: 0 auto;
}

nav .container{
    background-color: black;
}

.formField {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.formField input {
    width: 1160px;
    height: 30px;
    margin: 5px 0;
    font-size: 16px;
    border: solid 3px var(--primary-color);
    border-radius: 4px;
}
input[type="text"], textarea, input[type="password"],  input[type="number"]{
    background-color: var(--secondary-background-color);
    color: var(--text-primary-color)
}

.formField span {
    font-size: 20px;
}

form button {
    border: solid 3px var(--primary-color);
    background: var(--secondary-background-color);
    color: var(--text-primary-color);
    font-family: "Lalezar", system-ui;
}

table {
    width: 1160px;
    margin: 20px 0;
    border: solid 3px var(--primary-color);
    font-family: Tahoma, Geneva, sans-serif;
}

thead {
    background-color: var(--secondary-background-color);
    height: 40px;
    font-size: 20px;
}

table td {
    padding: 15px;
}

table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

    table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }