@import "../css/colors.css";

.form-group {
    margin: 20px 5px;
}

.form-control {
    background-color: var(--secondary-background-color);
    color: var(--text-primary-color);
    border: solid 3px var(--primary-color);
}

.taskForm form button {
    width: 70px;
    height: 45px;
    margin: 10px 5px;
    border: solid 3px var(--primary-color);
    background: var(--secondary-background-color);
    color: var(--text-primary-color);
    font-family: "Lalezar", system-ui;
}

table {
    width: 100%;
    border: solid 3px var(--primary-color);
    font-family: Tahoma, Geneva, sans-serif;
}

thead {
    background-color: var(--secondary-background-color);
    height: 40px;
    font-size: 20px;
}

table td {
    padding: 15px;
}

table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

 table tbody tr:nth-child(odd) {
     background-color: #ffffff;
 }