@import "../css/colors.css";

.form-group {
    margin: 20px 5px;
}

.form-control {
    background-color: var(--secondary-background-color);
    color: var(--text-primary-color);
    border: solid 3px var(--primary-color);
}

.taskForm form button {
    width: 70px;
    height: 45px;
    margin: 10px 5px;
    border: solid 3px var(--primary-color);
    background: var(--secondary-background-color);
    color: var(--text-primary-color);
    font-family: "Lalezar", system-ui;
}

