@page
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Index.css" />
	<link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
    <main>
        <div class="container">
            <div class="loginBg">
                <h2>Login</h2>

                <form method="post">
                    <div class="formField">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" />
                    <span asp-validation-for="Input.Username"></span>
                </div>

                    <div class="formField">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" type="password" />
                    <span asp-validation-for="Input.Password"></span>
                </div>

                <button type="submit">Log in</button>
                
                    <div asp-validation-summary="All"></div>
                </form>

                @section Scripts {
                      <partial name="_ValidationScriptsPartial" />
                }
			</div>
	        </div>
	    </main>
    </body>
</html>